<h1>Edit User</h1>

<%= render "form", dane_usera: @dane_usera %>

<br/>

<div>
  <%= link_to "Show", @dane_usera, class:"btn btn-secondary" %> 
  <%= link_to "Back", dane_useras_path, class:"btn btn-dark" %>
</div>
